body{
	background-color: #f1f1f1;
}

.corpo{
	margin: auto;
	width: 960px;
}

.conteudo {
	display: table;
}

.imagem{
	display: : table-cell;
	float: left;
}

.texto{
	display: table-cell;
	float: left;
	width: 600px;
	margin-left: 20px;
}

.ool{
	text-align: center;
}

.imagem2{
	border-radius: 10%
}

.lista{
	display: table-cell;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}

.titulo{
	margin-top: 20px;
	font: #3B0B0B;
}

.secao{
	margin-top: 250px;
	margin-left: 500px
}

input{
	width: 400px;
	height: 50px;
}


